body {
  font-family: "Abril Fatface", cursive;
}
.carousel-caption {
  bottom: initial;
  top: 20%;
}
.carousel-caption h1 {
  font-size: 5vw;
  color: gold;
}
.carousel-caption h3 {
  color: lightgreen;
  font-size: 3vw;
}
.carousel-caption h2 {
  color: crimson;
  font-size: 3vw;
}
.row {
  background-color: rgba(128, 128, 128, 0.178);
}
.row #who {
  border-radius: 50%;
}
.education li {
  list-style: none;
}
/* FOR FUNCTION */
#school {
  display: none;
}
#college {
  display: none;
}
#uni {
  display: none;
}
#uni2 {
  display: none;
}
